.max-width-1600px {
  max-width: 1600px;
}

.font-inter{
  font-family: Inter;
}

.fs-3rem{
  font-size: 4rem;
}

.ratio-3x2 {
  --bs-aspect-ratio: calc(2 / 3 * 100%);
}

.ratio-2x1 {
  --bs-aspect-ratio: calc(1 / 2 * 100%);
}